<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Progreso</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="read">
            <ion-icon name="book-outline"></ion-icon>
            <ion-label>Lectura</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="write">
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-label>Escritura</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pronounce">
            <ion-icon name="ear-outline"></ion-icon>
            <ion-label>Comprensión</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>