<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Bienvenido</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-text-center">
        <ion-item>
            <ion-avatar slot="start" (click)="presentAlert2()">
                <img src="../../../assets/imagenes/avatar.png">
            </ion-avatar>
            <ion-label> &nbsp;&nbsp; <img src="../../../assets/imagenes/points.png" alt="" width="28%"> {{puntaje}}
                <ion-icon name="information-circle-outline" (click)="presentAlert3()"></ion-icon>
            </ion-label>
            <img src="../../../assets/imagenes/crown.png" alt="" width="25%" slot="end" (click)="openIonModal()">
        </ion-item>

        <br>
        <img routerLink="/menu-jugar" src="../../assets/imagenes/jugar.png" width="50%" alt="">
        <h6>Jugar</h6>
        <br>
        <br>
        <img routerLink="/menu-repasar" src="../../assets/imagenes/braintrain.png" width="50%" alt="">
        <h6>Repasar</h6>
        <br>
        <br>
        <br>

    </div>
</ion-content>
