#uno{ border:1px solid black;
    width:49.5%;
    display:inline-block;
    height:35%;
    background-color:blue;
    }
  #dos{ border:1px solid black;
    width:49.5%;
    display:inline-block;
    height:35%;
    background-color:green;
    }
  #tres{ border:1px solid black;
    width:49.5%;
    display:inline-block;
    height:35%;
    background-color:yellow;
    }
  #cuatro{ border:1px solid black;
    width:49.5%;
    display:inline-block;
    height:35%;
    background-color:red;
    }