<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Menu Hijo</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
      <h6 style="font-size: small;">¿ Qué actividad deseas realizar ?</h6>
      <br>
      <br>
      <br>
      <img src="../../assets/imagenes/niveles.png" width="40%" alt="">
      <h6 style="font-size: small;">Repasar Niveles</h6>
      <br>
      <br>
      <br>
      <img routerLink="/menu-jugar" src="../../assets/imagenes/jugar.png" width="40%" alt="">
      <h6 style="font-size: small;">Jugar</h6>
  </div>
</ion-content>