#uno {
    border: 1px solid black;
    display: inline-block;
    background-color: blue;
}

#dos {
    border: 1px solid black;
    display: inline-block;
    background-color: green;
}

#tres {
    border: 1px solid black;
    display: inline-block;
    background-color: yellow;
}

#cuatro {
    border: 1px solid black;
    display: inline-block;
    background-color: red;
}

#img_read1 {
    margin-left: 60px;
    margin-top: 10px;
}

#img_read2 {
    margin-left: 60px;
    margin-top: 10px;
}

#img_read3 {
    margin-left: 60px;
    margin-top: 10px;
}

#img_read4 {
    margin-left: 60px;
    margin-top: 10px;
}
