<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Repaso Leer</ion-title>
        <ion-buttons slot="start">
            <ion-back-button (click)="transformar()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="padding: 10px; float: left; width: 45%; text-align: center;">
        <img routerLink="/menu-jugar" src="../../assets/imagenes/leer.png" width="60%" alt="">
    </div>
    <div style="padding: 10px; float: right; width: 45%; text-align: left;">
        <h3>
            Nivel {{id}}
        </h3>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;"> ¿ QUÉ IMAGEN ES ? </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">{{palabra}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <div id="uno">
                            <img [src]=img1 alt="">
                            <input (click)="getValueInput()" type="radio" id="img_read1" name="drone" value="1">
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div id="dos">
                            <img [src]=img2 alt="">
                            <input (click)="getValueInput2()" type="radio" id="img_read2" name="drone" value="2">
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div id="tres">
                            <img [src]=img3 alt="">
                            <input (click)="getValueInput3()" type="radio" id="img_read3" name="drone" value="3">
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div id="cuatro">
                            <img [src]=img4 alt="">
                            <input (click)="getValueInput4()" type="radio" id="img_read4" name="drone" value="4">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>

    </ion-card>
    <ion-button (click)=" presentAlert()" style="margin-left: 70px;">Comprobar</ion-button>
</ion-content>
