<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Perfiles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <img src="../../assets/imagenes/logo.png" width="40%" alt="">
        <br>
        <br>
        <h6 style="font-size: small;">¿ Quién desea utilizar la aplicación ?</h6>
        <br>
        <img routerLink="/progreso/read" src="../../assets/imagenes/perfil1.JPG" width="40%" alt="">
        <h6 style="font-size: small;">Padres</h6>
        <img routerLink="/menu-hijo" src="../../assets/imagenes/perfil2.JPG" width="40%" alt="">
        <h6 style="font-size: small;">Hijos</h6>
    </div>
</ion-content>