<ion-header>
    <ion-toolbar>
        <ion-title>Progreso Escritura</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let levels of list">

            <ion-label size="small" (click)="openIonModal(levels.id)">{{levels.title}}</ion-label>
            <div>
                <circle-progress [percent]=levels.progress [radius]="38" [outerStrokeWidth]="8" [innerStrokeWidth]="3" [outerStrokeColor]="'#581845 '" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>

        </ion-item>
    </ion-list>
</ion-content>