<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Repasar</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <br>
        <br>
        <img routerLink="/niv-repasar" src="../../assets/imagenes/leer.png" width="35%" alt="">
        <br>
        <br>
        <br>
        <br>
        <img routerLink="/niv-repasar" src="../../assets/imagenes/escribir.png" width="35%" alt="">
        <br>
        <br>
        <br>
        <br>
        <img routerLink="/niv-repasar" src="../../assets/imagenes/ear.png" width="35%" alt="">
    </div>
</ion-content>